
<div class="d-flex flex-column fullScreen" #fullScreen>
  <nav class="navbar navbar-expand navbar-dark bg-dark" #navbar>
    <a href="#" class="navbar-brand">Prism</a>
    <ul class="navbar-nav">
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </nav>
  <app-play 
    *ngIf="state === GameState.PLAY"
    [dimensions]="playAreaSize()"
    (playFinished)="endPlay()">
  </app-play>
  <app-play-report
    *ngIf="state === GameState.REPORT">

  </app-play-report>
</div>